@import "_preloader";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
%hover-position{
  position: relative;
  transform-origin: top;
}
@keyframes mario{
  0%  {
    top: 75%;
    left: 10%;
    transform: scaleX(1);
  }
  50% {
    top: 75%;
    left: 75%;
    transform: scaleX(1);
  }
  51% {
    top: 75%;
    left: 75%;
    transform: scaleX(-1);
  }
  100% {
    top: 75%;
    left: 10%;
    transform: scaleX(-1);
  }
}

@keyframes mario-foot{
  0%  {
    top: -42px;
    left: 31px;
  }
  100%  {
    top: -50px;
    left: 38px;
    transform: rotate(-85deg);
  }
}

@keyframes balloons-bow {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes balloons-little {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes tree-branch {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes tree-branch-left {
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes santa-claus {
  0% {
    left: 25%;
    top: 58%;
    transform: scaleX(1);
  }
  49% {
    left: 65%;
    top: 58%;
    transform: scaleX(1);
  }
  50% {
    left: 65%;
    top: 58%;
    transform: scaleX(-1);
  }
  99% {
    left: 25%;
    top: 58%;
    transform: scaleX(-1);
  }
  100% {
    left: 25%;
    top: 58%;
    transform: scaleX(1);
  }
}

body {
  background-color: antiquewhite;
  overflow-x: hidden;
  header{
    background: url("../images/bg-header.jpg") no-repeat 100% /cover;
    width: 100%;
    height: 100vh;
    &:hover {
      .tree-wrapper{
        img:nth-child(1) {
          transform-origin: left;
          cursor: pointer;
          animation: tree-branch-left 1s infinite alternate-reverse ease-in-out;
        }
        img:nth-child(2) {
          transform-origin: right;
          cursor: pointer;
          animation: tree-branch 1s infinite alternate-reverse ease-in-out;
        }
      }
      .balloons-wrapper {
        img:nth-child(2n) {
          cursor: pointer;
          animation: balloons-bow 1s infinite alternate-reverse ease-in-out;
        }
        img:nth-child(2n+1) {
          cursor: pointer;
          animation: balloons-bow 1s infinite alternate ease-in-out;
        }
      }
      .balloons-little-wrapper {
        img:nth-child(2n+1) {
          cursor: pointer;
          animation: balloons-little 0.5s infinite alternate-reverse ease-in-out;
        }
        img:nth-child(2n) {
          cursor: pointer;
          animation: balloons-little 1s infinite alternate ease-in-out;
        }
      }
      .santa-claus {
        cursor: pointer;
        animation: santa-claus 3s infinite;
      }
    }
    .tree-wrapper {
      position: absolute;
      z-index: 2;
      width: 110%;
      top: -57px;
      right: -65px;
      display: flex;
      justify-content: space-between;
    }
    .balloons-little-wrapper {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: -75px;
    }
    .balloons-wrapper{
      background: url("../images/bow.png") repeat-x;
      width: 100%;
      height: 100%;
      img:nth-child(1) {
        top: 195px;
        left: 2px;
        @extend %hover-position;
      }
      img:nth-child(2) {
        top: 184px;
        left: -2px;
        @extend %hover-position;
      }
      img:nth-child(3) {
        top: 203px;
        left: -16px;
        @extend %hover-position;
      }
      img:nth-child(4) {
        top: 125px;
        left: 0;
        @extend %hover-position;
      }
      img:nth-child(5) {
        top: 199px;
        left: 7px;
        @extend %hover-position;
      }
      img:nth-child(6) {
        top: 133px;
        left: 9px;
        @extend %hover-position;
      }
      img:nth-child(7) {
        top: 186px;
        left: 30px;
        @extend %hover-position;
      }
      img:nth-child(8) {
        top: 166px;
        left: 28px;
        @extend %hover-position;
      }
      img:nth-child(9) {
        top: 213px;
        left: 52px;
        @extend %hover-position;
      }
      img:nth-child(10) {
        top: 185px;
        left: 47px;
        @extend %hover-position;
      }
      img:nth-child(11) {
        top: 202px;
        left: 35px;
        @extend %hover-position;
      }
    }
    .santa-claus {
      width: 230px;
      position: absolute;
      left: 25%;
      top: 58%;
      img {
        width: 100%;
      }
    }
  }
}

.bg-1 {
  .bg-wrapper {
    width: 500px;
    height: 500px;
    margin: auto;
    background-image: url("../images/bg-1.jpg");
    .mario {
      width: 80px;
      position: relative;
      top: 75%;
      left: 10%;
      animation: mario 5.5s infinite;
      .mario-wrapper-body {
        width: 80px;
        img {
          width: 100%;
        }
      }
      .mario-wrapper-foot {
        width: 30px;
        position: relative;
        top: -40px;
        left: 35px;
        animation: mario-foot 0.5s infinite reverse;
        img {
          width: 100%;
        }
      }
    }
  }
}

.preloader_content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #6699CC;
  color: #fff;
  z-index: 9999999;
}
